page-request {
    [rowHeight] {
        height: 60px;
    }
    .ion-md-calendar {
        color: darkorange;
        font-size: 45px;
    }
    [iconWait] {
        color: orange;
    }
    [iconApprove] {
        color: green;
    }
    [iconReject] {
        color: red;
    }
    [headList] {
        font-weight: bold;
    }
    [rowHeightspace] {
        height: 30px;
    }
    [iconinList1] {
        color: green;
        padding-right: 5px;
        padding-left: 5px;
        align-items: flex-end;
    }
    [iconinList2] {
        color: red;
        padding-right: 5px;
        padding-left: 5px;
        align-items: flex-end;
    }
}