page-register {
    .grid {
        margin-top: 30%;
    }
    [emailIcon] {
        color: #f53d3d;
    }
    [colorSet] {
        color: #f53d3d;
    }
    [iconSize] {
        font-size: 30px;
        margin-right: 10px;
        color: #f53d3d;
    }
    [buttonSize] {
        width: 130px;
    }
}