
@font-face {
font-family: MyFont;
src: url("../assets/fonts/Athiti-SemiBold.ttf");
}
 .thaifont{
font-family: 'MyFont' !important;
}
page-leavelist {
.ion-md-calendar{
    color: darkorange;
    font-size: 50px;
}
}
