    page-home {
        [tsize] {
            margin-top: 20px;
            font-size: 28px;
            color: orangered;
        }
        [fgprintImg] {
            margin-top: 15%;
            width: 60%;
        }
        [menuIcon] {
            color: darkorange;
            font-size: 22px;
        }
        .bar-buttons-md {
            order: 1;
        }
    }