    page-home {
        [tsize] {
            margin-top: 20px;
            font-size: 28px;
            color: orangered;
        }
        [fgprintImg] {
            margin-top: 15%;
            width: 60%;
        }
        [menuIcon] {
            color: darkorange;
            font-size: 22px;
        }
        .bar-buttons-md {
            order: 1;
        }
        [iconinList1] {
            color: green;
            padding-right: 5px;
            padding-left: 5px;
            align-items: flex-end;
        }
        [iconinList2] {
            color: red;
            padding-right: 5px;
            padding-left: 5px;
            align-items: flex-end;
        }
    }